@section StyleSheets{
    <link rel="stylesheet" href="~/css/Home/Index.css" />
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="-container-titulo-jumbo">
                <h1 class="titulo-jumbo text-center">@ConstantesPalavras.ENCONTACT</h1>

                <h3 class="subtitulo-jumbo text-center">@ConstantesPalavras.GESTAO_EMAILS
                    <span class="subtitulo-descricao">@ConstantesPalavras.GESTAO_EMAILS_DESCRICAO</span>
                </h3>
            </div>
        </div>
    </div>
</div>